<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <h2 class="mt-3">Control panel</h2>
      <div class="card">
        <div class="card-body">
          <%= c("sign-in-form", "cp") %>
        </div>
      </div>
    </div>
  </div>
</div>