<div class="container-fluid">
  <h1>Modern Front-end with Rails 5</h1>
  <p>Text...</p>
  <p>Github: <%= link_to "https://github.com/eniwito/modern-frontend-rails", "https://github.com/eniwito/modern-frontend-rails" %></p>
  <%= link_to "Go to control panel", cp_root_path %>
</div>